node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

logs
*.log
*.out
*.err

pids
*.pid
*.seed
*.pid.lock


coverage/
.nyc_output/


dist/
build/
.cache/
.next/
out/
tmp/
temp/


.env
.env.*.local


.DS_Store
.AppleDouble
.LSOverride


.Spotlight-V100
.Trashes


Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


*.msi
*.msm
*.msp


.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?